<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👀</text></svg>">
<!--    replace with cdn address-->
    <link rel="stylesheet" href="https://andybrewer.github.io/mvp/mvp.css">

    <meta charset="utf-8">
<!--    keywords-->
<!--    description-->
    <meta name="description" content="My description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Visitor Badge</title>
</head>

<body>
    <header>
        <nav>
            <a href="/"><img alt="Logo" src="https://via.placeholder.com/200x70?text=Logo" height="70"></a>
            <ul>
                <li>Home</li>
                <li><a href="#">Docs</a></li>
                <li><a href="https://github.com/jwenjian/visitor-badge" target="_blank">GitHub &nearr;</a></li>
            </ul>
        </nav>
        <h1>Count visitors for your <i>README.md, Issues, PRs</i> in <u>GitHub</u></h1>
        <p>in just <mark>one line markdown code</mark></p>
        <p><img src="https://visitor-count-badge.herokuapp.com/total.svg?repo_id=jwenjian.visitor_badge"></p>
        <br>
        <p><a href="#docs"><i>💗 Donate 💗</i></a><a href="#docs"><b>Getting started</b></a></p>
    </header>
    <main>
        <hr>
        <article id="docs">
            <h2>Docs</h2>
            <p>How to use?</p>
            <aside>
                <p>If you know how to add picture in markdown, then you are good to go.</p>
            </aside>
            <p>All you have to do is to add below <mark>markdown markup</mark> to your markdown content: </p>
            <pre>
                <code lang="markdown">
                    ![visitors](https://visistor-badge.glitfh.me/badge)
                </code>
            </pre>
            <p>You can use it in your</p>
            <ul>
                <li>README.md(or any other .md files)</li>
                <li>Issue body</li>
                <li>Pull request description</li>
            </ul>
            <p>and any other markdown content <a href="#faq-use-in-html">or even your html files</a> you want.</p>
        </article>
        <hr>
        <div id="faq">
            <header>
                <h2>FAQ</h2>
            </header>
            <details id="faq-use-in-html">
                <summary>Can I use this in HTML file?</summary>
                <p>Sure!</p>
                <p>All you have to do is to insert a <code>&lt;img&gt;</code> to your HTML:</p>
                <pre>
                    <code lang="html">
                        &lt;img src="https://visitor-badge.glitch.me" alt="visitor badge"/&gt;
                    </code>
                </pre>
            </details>
            <details>
                <summary>Is this free?</summary>
                <p>Yes and it will always be free and no limitations!</p>
                <p>If you found this useful, you can <a href="#">buy me a coffee ☕️ </a></p>
            </details>
        </div>
        <hr>
        <section>
            <header>
                <h2>What's next?</h2>
                <p>What new features will be available in the next release?</p>
            </header>
            <aside>
                <h3>Count by day support</h3>
                <p>The badge is counting visitors in all time, but it will be more helpful to count visitors in current date</p>
                <p><small>*with small content</small></p>
            </aside>
            <aside>
                <h3>Statistics</h3>
                <p>Card content <sup>with notification</sup></p>
            </aside>
            <aside>
                <h3>Card heading</h3>
                <p>Card content</p>
            </aside>
        </section>
    </main>
    <footer>
        <hr>
        <p>
            Made by <a href="https://github.com/jwenjian" target="_blank">Wenjian Jiang</a> and ❤️
        </p>
    </footer>
</body>

</html>